/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

/* root styles */
:root {
  --main: #5e8d5a;
  --secondary: #84b180;
  --grey: #e7e7e7;
}

body {
  background: url("../images/books.jpg");
  backdrop-filter: grayscale(30%);
  background-size: cover;
  padding: 1rem;
  font: 1rem "Noto Sans JP", sans-serif;
  font-weight: 200;
}

/* App container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

/* Header, navigation and search */
.header {
  display: block;
  margin: auto;
  text-align: center;
}

.header-title h1 {
  transition: 0.2s;
}

.header-title h1:hover {
  color: var(--secondary);
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem;
}

.search {
  margin-top: 0.5rem;
  display: flex;
  align-content: center;
}

.search .button {
  margin-left: 0.2rem;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.next {
  margin-left: auto;
}

/* Links, inputs, and buttons */
a {
  font-weight: 400;
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: var(--main);
}

input[type="submit"] {
  border: 0;
}

a.button,
.pagination-btn,
input[type="submit"],
input[type="submit"].button {
  font-weight: 400;
  color: white;
  background: var(--main);
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

.edit-form .button,
input[type="submit"] {
  transition: 0.2s;
}

a.button:hover,
input[type="submit"]:hover,
.pagination-btn:hover {
  color: white;
  background-color: var(--secondary);
}

/* Main styles */
p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
}

h2 {
  border-top: 2px solid var(--grey);
  color: white;
  padding-top: 20px;
}

table {
  border-spacing: 0;
}

th {
  border-bottom: 2px solid var(--main);
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: var(--grey);
}

tr:nth-child(2n + 1) {
  background: white;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  min-width: 130px;
  display: inline-block;
  transition: 0.2s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 2px;
  transition: 0.2s;
}

input[type="text"] {
  margin-left: 7px;
  width: 60%;
}

.error {
  color: white;
}

/* Media Queries */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
  }

  .search {
    margin-top: 0;
  }
}
